.leaderboard {
    margin-top: 4rem;
    font-family: var(--main-font-family);
    animation: fadeIn 2s ease-in-out;
    display: flex;
    justify-content: center;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

table {
    border-collapse: collapse;
    width: 90%;
    color: var(--text-color);
    border-radius: 10px;
    overflow: hidden;

    animation: bounce 1s ease-in-out infinite;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}

thead {
    font-weight: bold;
    color: var(--text-color);
}

td, th {
    padding: 8px;
    border: 1px solid var(--secondary-bg-color);
    font-size: 1.5em;
}

tr:nth-child(even) {
    background-color: var(--primary-color);
    transition: transform 0.2s ease-in-out;

    &:hover {
        transform: scale(1.01) translateY(-5px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }
}

tr:nth-child(odd) {
    background-color: var(--primary-color);
    transition: transform 0.2s ease-in-out;

    &:hover {
        transform: scale(1.00) translateY(-5px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }
}
