<div class="leaderboard">
    <table>
        <thead>
        <tr>
            <th>RANK</th>
            <th>PLAYER NAME</th>
            <th>SCORE</th>
            <th>TIME(s)</th>
            <th>DIFFICULTY</th>
            <th>ROUNDS</th>
            <th>GENRE</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let entry of leaderboardData; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ entry.playerName }}</td>
            <td>{{ entry.score }}</td>
            <td>{{ entry.time }}</td>
            <td>{{ entry.difficulty }}</td>
            <td>{{ entry.rounds }}</td>
            <td>{{ entry.genre }}</td>
        </tr>
        </tbody>
    </table>
</div>


