.leaderboard {
    margin-top: 4rem;
    font-family: var(--main-font-family);
}

table {
    border-collapse: collapse;
    width: 100%;
    color: var(--text-color);
    border-radius: 10px;
    overflow: hidden;
}

thead {
    font-weight: bold;
    color: var(--text-color);
}

td, th {
    padding: 8px;
    border: 1px solid var(--secondary-bg-color);
}

tr:nth-child(even) {
    background-color: var(--primary-color);
}

tr:nth-child(odd) {
    background-color: var(--primary-color);
}