<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
<nav class="navbar-container">
    <div class="navbar-links">
        <a [routerLinkActiveOptions]="{exact: true}" class="link" routerLink="/" routerLinkActive="active-link">Home</a>
        <a class="link" routerLink="/game" routerLinkActive="active-link">Game</a>
        <a class="link" routerLink="/leaderboard" routerLinkActive="active-link">Leaderboard</a>
        <a class="link" routerLink="/faq" routerLinkActive="active-link">FAQs</a>
    </div>
</nav>