.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 8px solid var(--primary-color);
    padding: 0;
    margin: 0;
    height: 60px;
    background-color: var(--text-color);
}

.navbar-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
}

.link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: var(--main-font-family);
    font-weight: 700;
    font-size: 24px;
    color: var(--primary-color);
    text-align: center;
    margin: 0 10px;
}

.link:hover {
    color: var(--action-color);
}

.active-link, .active-link:visited {
    color: var(--action-color);
    text-decoration-line: underline;
    text-decoration-color: var(--accent-color);
    text-decoration-style: solid;
    text-decoration-thickness: 3px;
}