<div *ngIf="!gameStarted">
    <app-configuration (formSubmitted)="handleFormData($event)"></app-configuration>
</div>

<div class="loading"*ngIf="gameStarted && tracks.length === 0">
    <p>Loading...</p>
</div>

<div class="game-container" *ngIf="gameStarted && tracks.length > 0">
<!-- <div class="game-container" *ngIf="gameStarted && tracks.length === 0"> -->  
<!-- for testing purposes  -->

<!-- rendering tracks as a placeholder -->
    <!-- <div *ngFor="let track of tracks">
        <p>{{ track.track.name }}</p>
        <p>{{ track.track.artists[0].name }}</p>
        <audio controls>
            <source [src]="track.track.preview_url" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
    </div> -->

    <section class="audio-element">Music player here</section>
    <div class="game-content">
        <div class="mc-btns">
            <app-button>Choice 1</app-button>
            <app-button>Choice 2</app-button>
            <app-button>Choice 3</app-button>
            <app-button>Choice 4</app-button>
        </div>
    </div>

</div>
