.button-style {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: white;
    color: var(--primary-color);
    font-size: 16px;
    font-family: var(--main-font-family);
    cursor: pointer;
    outline: none;
}

.button-style:hover, .clicked {
    background-color: var(--accent-color);
}

